.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background: #f2db71;
    color: #FFF;
    width: 30vh;
    height: 30vh;
    line-height: 30vh;
    font-size: 15vh;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
  }

.btn:hover{
    background: rgb(247, 162, 4);
}

#add_btn{
      padding: 0;
      margin: 0;
      margin-right: 0.5vh;
      margin-left: 0.5vh;
      display: inline-block;
  }

#inputbox{
    display: inline-block;
    margin-right: 5px;
    padding: 0;
}

#record{
    width: 130vh;
    height: 30vh;
}