.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

#body{
    background-color:white;
}

#dropbox{
    display: flex;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    width: 70vh;
    height: 10vh;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.dataholder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

.textNode{
    display: flex;
    padding: 0px;
    margin: 0px;
}
#image{
    display: flex;
    width: 64vh;
    height: 64vh;
    margin: 10px;
    padding: 0px;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container{
    display: flex;
    justify-content: center;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background: #f2db71;
    color: #FFF;
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    font-size: 5vh;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
  }
  
  .btn:hover{
      background: rgb(247, 162, 4);
  }

  table {
    width:100%;
    margin-bottom: 3vh;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid black;
    border-radius: 15px;
  }

  #buttonbox{
      position: absolute;
      bottom: 2vh;
      right: 0;
      position: sticky;
      display: none;
  }

  #add_btn, #delete_btn, #edit_btn, #search_btn,
    #sort_ascend_btn, #sort_descend_btn, #sort_source_btn{
      padding: 0;
      margin: 0;
      margin-right: 0.5vh;
      margin-left: 0.5vh;
      display: inline-block;
  }

  